<!--绑定父类模板-->
{% extends "base.html" %}

<!--填充内容-->
{% block content %}
<h2>{{ user.username }}个人信息:</h2>
<br>
<a href="/user/follow?uid={{ user.id}}&wid={{ wid }}">
    {% if is_followed %}
    <strong>取消关注</strong>
    {% else %}
    <strong>关注TA</strong>
    {% endif %}
</a>
<hr>
<ul>
    <li>姓名：{{ user.username }}</li>
    <li>性别：{{ user.gender }}</li>
    <li>生日：{{ user.birthday }}</li>
    <li>城市：{{ user.city }}</li>
</ul>
<button><a href="/article/read?wid={{ wid }}">返回</a></button>
{% endblock %}

<!--边栏-->
{% block sidebar %}
<button>粉丝列表</button>
<button>关注列表</button>
{% endblock %}