<!--绑定父类模板-->
{% extends "base.html" %}

<!--填充内容-->
{% block content %}
<h2>新用户注册</h2>
<hr>
<form action="/user/register" method="POST">
    <lable>姓名：</lable>
    <input type="text" name="username">
    <br>
    <lable>密码：</lable>
    <input type="password" name="password">
    <br>
    <lable>性别：</lable>
    <input type="text" name="gender">
    <br>
    <lable>城市</lable>
    <input type="text" name="city">
    <br>
    <lable>地址：</lable>
    <input type="text" name="address">
    <br>
    <lable>电话：</lable>
    <input type="text" name="phone">
    <br>
    <input type="submit" value="提交">
</form>
{% endblock %}