<!--绑定父类模板-->
{% extends "base.html" %}

<!--填充内容-->
{% block content %}
<h2>最新微博动态</h2>
<hr>
{% for art in articles %}
<div style="background-color: #b3d7ff">
    <strong>{{ art.author.username }} 说:</strong>
    <br>
    {{ art.content | replace('\n', '<br />') | safe }}
    <br>
    <a href="/article/read?wid={{ art.id }}">{{ art.updated }}</a>
</div>
<hr>
{% endfor %}
<!--页码-->

<table style="border:1px solid black" rules="all" align="center">
    <tr>
        {% for p in pages %}
        {% if p == page %}
        <td align="center"><a href="/article/home?page={{ p }}"><font color="red">{{ p }}</font></a></td>
        {% else %}
        <td align="center"><a href="/article/home?page={{ p }}">{{ p }}</a></td>
        {% endif %}}
        {% endfor %}
    </tr>
</table>

{% endblock %}

<!--边栏内容-->
{% block sidebar %}
{% if not session.get('id'): %}
<strong><a href="/user/login">登录</a></strong>
&nbsp;&nbsp;
<strong><a href="/user/register">注册</a></strong>
{% else %}
<strong><a href="/user/info">我的</a></strong>
{% endif %}
{% endblock %}
