<!--绑定父类模板-->
{% extends "base.html" %}

<!--填充内容-->
{% block content %}

<h2>微博详情</h2>
<!--微博正文区-->
<h4><a href="/user/other_info?uid={{ article.uid }}&wid={{ article.id }}">{{ article.author.username }}:</a></h4>
<br>
<span>{{ article.content | replace('\n', '<br>') | safe }}</span>
<br>
<span>发布时间：{{ article.updated }}</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span>{{ article.n_thumb }}</span>
<a href="/article/like?wid={{ article.id }}">
    {% if is_liked %}
    <strong>取消点赞</strong>
    {% else %}
    <strong>点赞</strong>
    {% endif %}
</a>
<br>
<!--微博改删功能区-->
<!--进来第几页回去还是第几页-->
<a href="/article/home?page={{ page }}">回到微博</a>
{% if article.uid == session.get('id'): %}
&nbsp;&nbsp;
<button><a href="/article/modif?wid={{ article.id }}">修改本条微博</a></button>
&nbsp;&nbsp;
<button><a href="/article/delete?wid={{ article.id }}">删除本条微博</a></button>
{% endif %}
<hr>
<!--微博评论-->
<form action="/article/push_comment" method="POST">
    <textarea name="content" rows="3" placeholder="发表评论"></textarea>
    <br>
    <input type="submit" value="发表评论">
    <input type="hidden" name="wid" value="{{ article.id }}">
</form>
<hr>

<!--评论展示区-->
<!--这个comments是包括了属于这一个wid的评论和回复评论都在里面了，因为我们是以wid去筛选的-->
{% for c in comments %}
<div style="background-color: #b3d7ff">
    {% if c.cid == 0 %}
    {{ c.author.username }} 说:
    {% else %}
    {{ c.author.username }} 对 {{ c.upper.author.username }} 说:
    {% endif %}
    <br>
    {{ c.content }}
    <br>
    <a href="/article/delete_comment?id={{ c.id }}&wid={{ article.id }}">删除</a>
    <br>
<!--    评论回复的输入框-->
    <form action="/article/reply" method="POST">
        <textarea name="content" rows="1" placeholder="回复"></textarea>
        <input type="submit" value="回复">
        <input type="hidden" name="wid" value="{{ article.id }}">
        <input type="hidden" name="cid" value="{{ c.id }}">
        <!--    删除评论-->
    </form>
</div>
<hr>
{% endfor %}
{% endblock %}

<!--边栏内容-->
{% block sidebar %}
{% if not session.get('id'): %}
<strong><a href="/user/login">登录</a></strong>
&nbsp;&nbsp;
<strong><a href="/user/register">注册</a></strong>
{% endif %}
{% endblock %}
