<!--绑定父类模板-->
{% extends "base.html" %}

<!--填充内容-->
{% block content %}

<h2>微博详情</h2>
<!--微博正文区-->
<h4>{{ article.author.username }} 说:</h4>
<hr>
<span>{{ article.content | replace('\n', '<br>') | safe }}</span>
<hr>
<span>发布时间：{{ article.updated }}</span>
<br>

<!--微博改删功能区-->
<a href="/article/home">回到微博首页</a>
{% if article.uid == session.get('id'): %}
&nbsp;&nbsp;
<button><a href="/article/modif?wid={{ article.id }}">修改本条微博</a></button>
&nbsp;&nbsp;
<button><a href="/article/delete?wid={{ article.id }}">删除本条微博</a></button>
{% endif %}

<!--微博评论-->
<form action="/article/push_comment" method="POST">
    <textarea name="content" rows="3" placeholder="发表评论"></textarea>
    <br>
    <input type="submit" value="发表评论">
    <input type="hidden" name="wid" value="{{ article.id }}">
</form>
<hr>

<!--评论展示区-->
{% for c in comments %}
<div style="background-color: #b3d7ff">
    {% if c.cid == 0 %}
    {{ c.author.username }}说:
    {% else %}
    {{ c.author.username }}对{{ c.upper.author.username }}说:
    {% endif %}
    <br>
    {{ c.content }}
    <br>
<!--    评论回复的输入框-->
    <form action="/article/reply" method="POST">
        <textarea name="content" rows="1" placeholder="回复"></textarea>
        <input type="submit" value="回复">
        <input type="hidden" name="wid" value="{{ article.id }}">
        <input type="hidden" name="cid" value="{{ c.id }}">
    </form>
</div>
<hr>
{% endfor %}
{% endblock %}


<!--边栏内容-->

{% block sidebar %}
{% if not session.get('id'): %}
<strong><a href="/user/login">登录</a></strong>
&nbsp;&nbsp;
<strong><a href="/user/register">注册</a></strong>
{% endif %}
{% endblock %}
